
@font-face {
  font-family: 'PTRoubleSans';
  src: url('../font/PTRoubleSans/PTRoubleSans.eot?#iefix') format('embedded-opentype'),  
       url('../font/PTRoubleSans/PTRoubleSans.otf')  format('opentype'),
	   url('../font/PTRoubleSans/PTRoubleSans.woff') format('woff'), 
	   url('../font/PTRoubleSans/PTRoubleSans.ttf')  format('truetype'), 
	   url('../font/PTRoubleSans/PTRoubleSans.svg#PTRoubleSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
