.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.may_section {
    /*******************************************************************************/
}

@media (min-width: 1300px) {
    .may_section .container {
        width: 1149px !important;
    }
}

.may_section body {
    font-family: "Open Sans", sans-serif;
}

.may_section .line-block, .may_section .about-line .about-block {
    display: inline-block;
    vertical-align: top;
}

.may_section .wrap .block, .may_section .s-callback .block, .may_section .s-advantages-line .block, .may_section .s-about .block, .may_section .s-structure .block, .may_section .s-structure-zag .block, .may_section .s-rates .block, .may_section .s-packages .block {
    display: inline-block;
}

@media (max-width: 1200px) {
    .may_section .wrap .block, .may_section .s-callback .block, .may_section .s-advantages-line .block, .may_section .s-about .block, .may_section .s-structure .block, .may_section .s-structure-zag .block, .may_section .s-rates .block, .may_section .s-packages .block {
        margin-bottom: 30px;
    }
}

.may_section .wrap .block .img-line, .may_section .s-callback .block .img-line, .may_section .s-advantages-line .block .img-line, .may_section .s-about .block .img-line, .may_section .s-structure .block .img-line, .may_section .s-structure-zag .block .img-line, .may_section .s-rates .block .img-line, .may_section .s-packages .block .img-line {
    height: 60px;
    text-align: center;
}

.may_section .wrap .block p, .may_section .s-callback .block p, .may_section .s-advantages-line .block p, .may_section .s-about .block p, .may_section .s-structure .block p, .may_section .s-structure-zag .block p, .may_section .s-rates .block p, .may_section .s-packages .block p {
    font-family: 'Open Sans Semibold', arial;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 10px;
}

.may_section .right, .may_section .b-basket, .may_section #main-menu-auth {
    float: right !important;
    margin-right: 3px;
}

.may_section .icon, .may_section .fa-lock {
    color: #ff6b00;
    font-size: 19px;
}

.may_section .line, .may_section .nav-top ul, .may_section .list-inline, .may_section .s-advantages-line, .may_section .s-about .main-line {
    text-align: justify;
}

.may_section .line:after, .may_section .nav-top ul:after, .may_section .list-inline:after, .may_section .s-advantages-line:after, .may_section .s-about .main-line:after {
    content: "";
    margin-left: 100%;
}

.may_section .line li, .may_section .nav-top ul li, .may_section .list-inline li, .may_section .s-advantages-line li, .may_section .s-about .main-line li {
    display: inline-block;
    margin: 0 !important;
}

.may_section .line a, .may_section .nav-top ul a, .may_section .list-inline a, .may_section .s-advantages-line a, .may_section .s-about .main-line a {
    font-size: 12px;
    color: #ffffff;
}

.may_section .drop-title {
    width: auto;
    float: left;
    position: relative;
}

.may_section .nav-top {
    float: right !important;
    margin-right: 9.61%;
    box-sizing: border-box;
}

.may_section .nav-top ul {
    font-size: 13px;
    color: #ffffff;
}

.may_section .b-basket {
    margin: -13px 3px -13px 0px !important;
}

.may_section .dropdown-left {
    float: left;
}

.may_section .select-phone a {
    font-size: 14px !important;
    line-height: 14px !important;
    padding-left: 23px;
    background: url("../img/tel.png") left center no-repeat;
}

.may_section #drop-city-phone {
    font-size: 20px;
}

.may_section .b-header {
    padding: 45px 0px 25px !important;
}

.may_section .mail-contact a {
    color: #0095d8 !important;
    padding-left: 31px;
    background: url("../img/mail.jpg") left center no-repeat;
}

.may_section .auth-off {
    float: left;
}

.may_section .auth-off a {
    font-size: 13px !important;
}

.may_section .reg {
    float: left;
}

.may_section .enter {
    float: left;
}

.may_section .m-menu .b-point {
    padding: 20px 0px 0px !important;
}

.may_section .ui-tabs-anchor {
    font-size: 15px !important;
}

.may_section .s-callback {
    margin-top: 66px;
    background: #424f57;
}

.may_section .s-callback .b-callback {
    background-color: #424f57 !important;
}

.may_section .s-callback .btn-info {
    background-color: #ff7700 !important;
    border-color: #ff7700 !important;
}

.may_section .b-breadcrumbs {
    border-top: 2px solid #e6e6e6;
}

.may_section .s-advantages {
    background: url("../img/advant.jpg") center top no-repeat;
    background-size: cover;
    min-height: 500px;
}

.may_section .s-advantages-zag {
    font-family: 'Open Sans Light', arial;
    font-weight: 300;
    text-align: center;
    font-size: 56px;
    line-height: 132.69px;
    color: #ffffff;
    margin-top: 46px;
    margin-bottom: 114px;
}

@media (max-width: 525px) {
    .may_section .s-advantages-zag .advant-zag {
        line-height: 50px;
    }
}

.may_section .s-advantages-line {
    margin: 0 auto;
}

.may_section .s-advantages-line .sprite {
    background-image: url("../img/advantages/sprite.png");
    background-repeat: no-repeat;
}

.may_section .s-advantages-line .sprite1 {
    background-position: center top;
}

.may_section .s-advantages-line .sprite2 {
    background-position: center -60px;
}

.may_section .s-advantages-line .sprite3 {
    background-position: center -122px;
}

.may_section .s-advantages-line .sprite4 {
    background-position: center -181px;
}

.may_section .s-advantages-line .block {
    color: #ffffff;
}

.may_section .s-about {
    min-height: 263px;
    margin-top: 44px;
}

.may_section .s-about .main-zag {
    font: 24px/24px "Open Sans Light";
    color: #333333;
}

.may_section .s-about .main-line .main-block {
    display: block;
}

.may_section .s-about .main-line .main-box {
    margin-top: 15px;
    font: 13.5px/22px "Open Sans", sans-serif;
}

.may_section .s-about .main-line .main-box .img-box {
    float: left;
    width: 55px;
    height: 58px;
    background-image: url("../img/main/sprite2.jpg");
    background-repeat: no-repeat;
}

.may_section .s-about .main-line .main-box .main1 {
    background-position: center top;
}

.may_section .s-about .main-line .main-box .main2 {
    background-position: center -59px;
}

.may_section .s-about .main-line .main-box .main3 {
    background-position: center -118px;
}

.may_section .s-about .main-line .main-box .main4 {
    background-position: center -177px;
}

.may_section .s-about .main-line .main-box .main5 {
    background-position: center -236px;
}

.may_section .s-about .main-line .main-box .main6 {
    background-position: center -295px;
}

.may_section .s-about .main-line .main-box .text-box {
    float: left;
    text-align: left;
    min-height: 110px;
    padding-right: 0px;
}

.may_section .about-line .about-block {
    font-size: 15px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
}

.may_section .about-line .paragraph {
    font: 15px/22px "Open Sans";
    float: left;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .may_section .about-line .about-text .text-fon {
        padding: 33.03px 75.19px !important;
    }

    .may_section .about-line .about-text .dop-text {
        text-align: center;
    }
}

.may_section .about-line .about-text .text-fon {
    padding: 33.03px 39.19px;
    box-sizing: border-box;
    background: #1ba7e1;
    font-weight: 600;
    color: #ffffff;
    padding-right: 0px;
}

.may_section .about-line .about-text .dop-text {
    margin-top: 20px;
}

.may_section .about-line .about-img {
    text-align: center;
    margin-bottom: 20px;
}

.may_section .about-line .about-img img {
    display: inline;
}

.may_section .about-line .about-ring {
    float: right;
}

.may_section .about-line .about-ring .question {
    font-family: 'Open Sans Light', arial;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.may_section .about-line .about-ring .button {
    float: none;
    display: block;
    height: 44px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background: #ff7700;
    color: #ffffff;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .may_section .about-line .about-ring .button {
        max-width: 250px;
    }
}

.may_section .about-line .about-ring .button:hover {
    background: #d56604;
}

.may_section .about-line .about-ring .kontackt-info {
    text-align: center;
    margin-top: 27.75px;
}

.may_section .about-line .about-ring .kontackt-info p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
}

.may_section .about-line .about-ring .kontackt-info p a {
    color: #006699;
}

.may_section .about-line .about-ring .kontackt-info:before {
    content: "";
    display: inline-block;
    width: 66.9%;
    height: 1px;
    background: #9b9b9b;
}

.may_section .s-structure {
    margin-top: 28px;
}

.may_section .s-structure-zag {
    font: 24px/24px "Open Sans Light";
}

.may_section .s-structure-img {
    overflow: hidden;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-top: 18px;
    border: 1px solid #eaeaea;
}

.may_section .s-rates .rates-zag {
    font: 24px/24px "Open Sans Light";
}

.may_section .s-rates .rates-tabl .row-tabl {
    min-height: 81px;
    border-bottom: 1px solid #eaeaea;
}

.may_section .s-rates .rates-tabl .row-top {
    border-bottom: 2px solid #ff7701;
}

.may_section .s-rates .rates-tabl .row-top p {
    margin-top: 18.32px !important;
}

@media (max-width: 991px) {
    .may_section .s-rates .rates-tabl .row-top p p {
        margin-top: 0px;
    }
}

.may_section .s-rates .rates-tabl .row-bottom {
    border: none;
}

.may_section .s-rates .rates-tabl .cel-zag {
    font-weight: 800;
}

@media (max-width: 991px) {
    .may_section .s-rates .rates-tabl .table-cell .table-cell {
        padding: 0 !important;
    }
}

.may_section .s-rates .rates-tabl .table-cell p {
    text-align: center;
    box-sizing: border-box;
    padding-left: 11px;
    margin-top: 30px;
}

.may_section .s-rates .rates-tabl .table-cell p span {
    color: #f37d34;
}

.may_section .s-rates .rates-tabl .table-cell p span i {
    font-family: 'PTRoubleSans', sans;
    font-style: normal;
}

.may_section .s-rates .rates-tabl .table-cell .dop-line {
    margin-top: 15px !important;
}

.may_section .s-rates .rates-tabl .table-cell button {
    display: block;
    height: 36px;
    font-weight: bold;
    text-align: center;
    color: #ff7701;
    border: 1px solid #ff7701;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .may_section .s-rates .rates-tabl .table-cell button {
        background-image: url("../img/bay.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.may_section .s-rates .rates-tabl .table-cell .visible-xs {
    font-weight: 900;
    font-size: 18px;
}

.may_section .s-rates .rates-tabl .table-cell .plus {
    color: green;
}

.may_section .s-rates .rates-tabl .table-cell .minus {
    color: red;
}

.may_section .s-rates .rates-tabl .table-cell .bay-xs {
    margin: 8px auto;
}

.may_section .s-rates .row .table-cell:nth-child(1) {
    padding-left: 0px;
}

.may_section .s-rates .row .table-cell:nth-child(1) p {
    text-align: left;
}

.may_section .s-packages {
    margin-top: 25px;
}

.may_section .s-packages .pack-zag {
    font: 24px/24px "Open Sans Light";
}

.may_section .s-packages .pack-pod-zag {
    font: 15px/22px "Open Sans";
    margin-top: 15px;
    margin-bottom: 25px;
}

.may_section .s-packages .package-line {
    margin-bottom: 4px;
}

@media (max-width: 768px) {
    .may_section .s-packages .package-line {
        margin-bottom: 8px;
        padding: 0;
    }
}

.may_section .s-packages .package-line .name {
    border-right: 4px solid #ffffff;
}

@media (max-width: 768px) {
    .may_section .s-packages .package-line .name {
        border-right: none;
        border-bottom: 4px solid #ffffff;
        padding-bottom: 30px;
    }
}

.may_section .s-packages .package-line .name p {
    font: 24px/26px "Open Sans";
    text-align: center;
}

.may_section .s-packages .package-line .name p span {
    display: inline-block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #ff7701;
}

.may_section .s-packages .package-line .name p span i {
    font-family: 'PTRoubleSans', sans;
    font-style: normal;
}

.may_section .s-packages .package-line .name .icon, .may_section .s-packages .package-line .name .fa-lock {
    height: 55px;
    text-align: center;
    margin: 45px 0px 30px;
}

.may_section .s-packages .package-line .name .icon img, .may_section .s-packages .package-line .name .fa-lock img {
    display: inline;
}

.may_section .s-packages .bg1 {
    background: #f3f3f3;
}

.may_section .s-packages .bg2 {
    background: #e5f2f7;
}

.may_section .s-packages .bg3 {
    background: #fae8db;
}

.may_section .s-packages .bg4 {
    background: #f3f3f3;
}

.may_section .s-packages .description {
    min-height: 245px;
    text-align: center;
    padding-bottom: 20px;
}

.may_section .s-packages .description .ul-wtap {
    float: left;
    list-style-image: url("../img/packages/marker1.png");
    font: 15px/26.5px "Open Sans";
    margin-top: 36px;
    text-align: left;
}

.may_section .s-packages .description .ul-wtap li ul {
    list-style-image: url("../img/packages/marker2.png");
    margin-left: 20px;
}

.may_section .small-menu {
    background: #fae8db;
    margin-top: 20px !important;
}

.may_section .small-menu li {
    font-size: 15px;
    padding: 10px 0px;
}

.may_section .row-eq-height {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (max-width: 768px) {
    .may_section .row-eq-height {
        display: block !important;
        width: 100%;
    }
}

.may_section .s-callback {
    font-size: 17px;
    line-height: 25px;
}

.may_section .s-callback .b-callback {
    background-color: #4c687e;
    color: #fff;
    border-radius: 4px;
    padding: 25px 30px 15px;
}

@media (max-width: 768px) {
    .may_section .s-callback .b-callback {
        text-align: center;
    }
}

.may_section .s-callback .btn {
    margin-top: 5px;
    font-weight: 500;
}

.may_section .s-callback .btn-info {
    background-color: #ff7700 !important;
    border-color: #ff7700 !important;
}

.may_section .s-callback .btn-info:hover {
    background: #d56604 !important;
}

.may_section .s-callback .email {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid rgba(234, 234, 234, 0.3);
    font-size: 20px;
}

@media (max-width: 320px) {
    .may_section .s-callback .email {
        border-left: none;
        border-top: 1px solid rgba(234, 234, 234, 0.3);
        margin-top: 15px;
    }
}

.may_section .s-callback a {
    color: #ffffff;
}

.may_section .s-callback .fa-envelope {
    color: #fa9300;
    width: 20px;
}

.may_section .black {
    color: #000000 !important;
}

/*# sourceMappingURL=style.css.map */
