$bg1: #f3f3f3;
$bg2: #e5f2f7;
$bg3: #fae8db;
$bg4: $bg1;

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.may_section {
  .container {
    @media (min-width: 1300px) {
      width: 1149px !important;
    }
  }

  body {
    font-family: "Open Sans", sans-serif
  }

  @mixin left {
    float: left;
  }

  @mixin right {
    float: right;
  }

  .line-block {
    display: inline-block;
    vertical-align: top;
  }

  .table {

  }

  .wrap {

    .block {
      display: inline-block;
      @media (max-width: 1200px) {
        margin-bottom: 30px;

      }
      .img-line {
        height: 60px;
        text-align: center;
      }
      p {
        font-family: 'Open Sans Semibold', arial;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        margin-top: 10px;
      }
    }

  }

  @mixin radius($r1) {
    border-radius: $r1;
    -moz-border-radius: $r1;
    -webkit-border-radius: $r1;
  }

;
  .right {
    float: right !important;
    margin-right: 3px;
  }

  .icon {
    color: #ff6b00;
    font-size: 19px;
  }

  .line {

    text-align: justify;
  }

  .line:after {
    content: "";
    margin-left: 100%;
  }

  .line {
    li {
      display: inline-block;
      margin: 0 !important;
    }
    a {
      font-size: 12px;
      color: #ffffff;
    }
  }

  .drop-town {
  }

  .drop-title {
    width: auto;
    @include left;
    position: relative;
  }

  .nav-top {
    float: right !important;
    margin-right: 9.61%;
    box-sizing: border-box;

    ul {
      @extend .line;
      font-size: 13px;
      color: #ffffff;
    }
  }

  .b-basket {
    @extend .right;
    margin: -13px 3px -13px 0px !important;
  }

  .dropdown-left {
    float: left;
  }

  .select-phone a {
    font-size: 14px !important;
    line-height: 14px !important;
    padding-left: 23px;
    background: url("../img/tel.png") left center no-repeat;
  }

  #drop-city-phone {
    font-size: 20px;
  }

  .b-header {
    padding: 45px 0px 25px !important;
  }

  .mail-contact a {
    color: #0095d8 !important;
    padding-left: 31px;
    background: url("../img/mail.jpg") left center no-repeat;
  }

  .fa-lock {
    @extend .icon
  }

  .auth-off {
    @include left;
    a {
      font-size: 13px !important;
    }
  }

  .reg {
    @include left;
  }

  .enter {
    @include left;
  }

  .list-inline {
    @extend .line
  }

  #main-menu-auth {
    @extend .right
  }

  .m-menu .b-point {
    padding: 20px 0px 0px !important;
  }

  .ui-tabs-anchor {
    font-size: 15px !important;
  }

  .s-callback {
    margin-top: 66px;
    @extend .wrap;
    background: #424f57;
    .b-callback {
      background-color: #424f57 !important;

    }
    .btn-info {
      background-color: #ff7700 !important;
      border-color: #ff7700 !important;
    }
  }

  .b-breadcrumbs {
    border-top: 2px solid #e6e6e6;
  }

  /*******************************************************************************/
  .s-advantages {
    background: url("../img/advant.jpg") center top no-repeat;
    background-size: cover;
    min-height: 500px;

    &-zag {
      font-family: 'Open Sans Light', arial;
      font-weight: 300;
      text-align: center;
      font-size: 56px;
      line-height: 132.69px;
      color: #ffffff;
      margin-top: 46px;
      margin-bottom: 114px;
      @media (max-width: 525px) {
        .advant-zag {
          line-height: 50px;
        }
      }
    }
    &-line {
      @extend .line;
      @extend .wrap;
      margin: 0 auto;
      .sprite {
        background-image: url("../img/advantages/sprite.png");
        background-repeat: no-repeat;
      }
      .sprite1 {
        background-position: center top;
      }
      .sprite2 {
        background-position: center -60px;
      }
      .sprite3 {
        background-position: center -122px;
      }
      .sprite4 {
        background-position: center -181px;
      }
      .block {
        color: #ffffff;
      }
    }

  }

  .s-about {
    @extend .wrap;
    min-height: 263px;
    margin-top: 44px;
    .main-zag {
      @extend .wrap;
      font: 24px/24px "Open Sans Light";
      color: #333333;
    }
    .main-line {
      @extend .wrap;
      @extend .line;
      .main-block {
        display: block;
      }
      .main-box {
        margin-top: 15px;
        font: 13.5px/22px "Open Sans", sans-serif;
        .img-box {
          float: left;
          width: 55px;
          height: 58px;
          background-image: url("../img/main/sprite2.jpg");
          background-repeat: no-repeat;
        }
        .main1 {
          background-position: center top
        }
        .main2 {
          background-position: center -59px
        }
        .main3 {
          background-position: center -118px
        }
        .main4 {
          background-position: center -177px
        }
        .main5 {
          background-position: center -236px
        }
        .main6 {
          background-position: center -295px
        }
        .text-box {
          float: left;
          text-align: left;
          min-height: 110px;
          padding-right: 0px;

        }
      }

    }
  }

  .about-line {

    .about-block {
      @extend .line-block;
      font-size: 15px;
      line-height: 22px;
      font-family: "Open Sans", sans-serif;

    }
    .paragraph {
      font: 15px/22px "Open Sans";
      float: left;
      margin-bottom: 50px;
    }

    .about-text {

      @media (max-width: 992px) {

        .text-fon {
          padding: 33.03px 75.19px !important;
        }
        .dop-text {
          text-align: center;
        }

      }
      .text-fon {
        padding: 33.03px 39.19px;
        box-sizing: border-box;
        background: #1ba7e1;
        font-weight: 600;
        color: #ffffff;
        padding-right: 0px;
      }
      .dop-text {
        margin-top: 20px;
      }
    }
    .about-img {
      text-align: center;
      margin-bottom: 20px;
      img {
        display: inline;
      }
    }
    .about-ring {
      float: right;
      .question {
        font-family: 'Open Sans Light', arial;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
      }
      .button {
        float: none;
        display: block;
        height: 44px;
        @include radius(5px);
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        background: #ff7700;
        color: #ffffff;
        margin: 20px auto;
        @media(max-width: 768px) {
          max-width: 250px;

        }
        &:hover {
          background: #d56604;
        }
      }
      .kontackt-info {
        text-align: center;
        margin-top: 27.75px;
        p {
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 22px;
          a {
            color: #006699;
          }
        }
      }
      .kontackt-info:before {
        content: "";
        display: inline-block;
        width: 66.9%;
        height: 1px;
        background: #9b9b9b;
      }
    }
  }

  .s-structure {
    @extend .wrap;
    margin-top: 28px;
    &-zag {
      @extend .wrap;
      font: 24px/24px "Open Sans Light";
    }
    &-img {
      overflow: hidden;
      @include radius(15px);
      margin-top: 18px;
      border: 1px solid #eaeaea;
    }
  }

  .s-rates {
    @extend .wrap;
    .rates-zag {
      @extend .wrap;
      font: 24px/24px "Open Sans Light";
    }
    .rates-tabl {

      .row-tabl {
        min-height: 81px;
        border-bottom: 1px solid #eaeaea;

      }
      .row-top {
        border-bottom: 2px solid #ff7701;
        p {
          margin-top: 18.32px !important;
          @media (max-width: 991px) {
            p {
              margin-top: 0px;
            }
          }
        }
      }
      .row-bottom {
        border: none;
      }
      .cel-zag {
        font-weight: 800;
      }
      .table-cell {
        @media (max-width: 991px) {
          .table-cell {
            padding: 0 !important;
          }
        }
        p {
          text-align: center;
          box-sizing: border-box;
          padding-left: 11px;
          margin-top: 30px;
          span {
            color: #f37d34;
            i {
              font-family: 'PTRoubleSans', sans;
              font-style: normal;
            }
          }
        }
        .dop-line {
          margin-top: 15px !important;
        }
        button {
          display: block;
          height: 36px;
          font-weight: bold;
          text-align: center;
          color: #ff7701;
          border: 1px solid #ff7701;
          @include radius(4px);
          margin: 20px auto;
          @media (max-width: 768px) {
            background-image: url("../img/bay.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

          }
        }
        .visible-xs {
          font-weight: 900;
          font-size: 18px
        }
        .plus {
          color: green
        }
        .minus {
          color: red
        }
        .bay-xs {
          margin: 8px auto;
        }
      }
    }
    .row {

      .table-cell:nth-child(1) {
        padding-left: 0px;
        p {
          text-align: left;

        }
      }
    }
  }

  .s-packages {
    @extend .wrap;
    margin-top: 25px;
    .pack-zag {
      @extend .wrap;
      font: 24px/24px "Open Sans Light";
    }
    .pack-pod-zag {
      font: 15px/22px "Open Sans";
      margin-top: 15px;
      margin-bottom: 25px;

    }
    .package-line {
      margin-bottom: 4px;
      @media (max-width: 768px) {
        margin-bottom: 8px;
        padding: 0;

      }

      .name {
        border-right: 4px solid #ffffff;
        @media (max-width: 768px) {
          border-right: none;
          border-bottom: 4px solid #ffffff;
          padding-bottom: 30px;

        }

        p {

          font: 24px/26px "Open Sans";
          text-align: center;
          span {

            display: inline-block;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            line-height: 24px;
            color: #ff7701;
            i {
              font-family: 'PTRoubleSans', sans;
              font-style: normal;
            }
          }
        }
        .icon {

          height: 55px;
          text-align: center;
          margin: 45px 0px 30px;
          img {
            display: inline;
          }
        }
      }

    }
    .bg1 {
      background: $bg1;
    }
    .bg2 {
      background: $bg2;
    }
    .bg3 {
      background: $bg3;
    }
    .bg4 {
      background: $bg4;
    }
    .description {
      min-height: 245px;
      text-align: center;
      padding-bottom: 20px;
      .ul-wtap {
        float: left;
        list-style-image: url("../img/packages/marker1.png");
        font: 15px/26.5px "Open Sans";
        margin-top: 36px;
        text-align: left;

        li {
          ul {
            list-style-image: url("../img/packages/marker2.png");
            margin-left: 20px;
          }
        }

      }
    }
  }

  .small-menu {
    background: $bg3;
    margin-top: 20px !important;
    li {
      font-size: 15px;
      padding: 10px 0px
    }
  }

  .row-eq-height {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    @media (max-width: 768px) {
      display: block !important;
      width: 100%;

    }
  }

  .s-callback {
    font-size: 17px;
    line-height: 25px;
    .b-callback {
      background-color: #4c687e;
      color: #fff;
      border-radius: 4px;
      padding: 25px 30px 15px;
      @media (max-width: 768px) {
        text-align: center;

      }
    }
    .btn {
      margin-top: 5px;
      font-weight: 500;
    }
    .btn-info {
      background-color: #ff7700 !important;
      border-color: #ff7700 !important;
      &:hover {
        background: #d56604 !important;
      }
    }
    .email {
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: 1px solid rgba(234, 234, 234, 0.3);
      font-size: 20px;
      @media(max-width: 320px) {
        border-left: none;
        border-top: 1px solid rgba(234, 234, 234, 0.3);
        margin-top: 15px;

      }
    }
    a {
      color: #ffffff;
    }
    .fa-envelope {
      color: #fa9300;
      width: 20px;
    }

  }

  .black {
    color: #000000 !important;
  }
}





